/*
 * nextflow.config
 * Configuración del pipeline RNA-seq GSE52778
 */

params {
    samplesheet    = "${projectDir}/assets/samplesheet.csv"
    datadir        = "${projectDir}/../data/"
    genome_fasta   = "${projectDir}/../data/genome/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    genome_gtf     = "${projectDir}/../data/genome/Homo_sapiens.GRCh38.111.gtf"
    star_index_dir = "${projectDir}/../data/star_index"
    outdir         = "${projectDir}/../results"
}

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}

process {
    cpus   = 2
    memory = '4.GB'
    time   = '4.h'
    withName: 'STAR_INDEX' {
        cpus = 4
        memory = '13.5 GB'
        time = '8.h'
        maxForks = 1 
    }
}
