/*
 * nextflow.config
 * Configuración del pipeline RNA-seq GSE52778
 *
 * NOTA: Esta rama usa un genoma subset para testeo local.
 *       Para ejecución completa con genoma GRCh38, usar las rutas
 *       del genoma completo en la rama main o picasso.
 */

params {
    samplesheet    = "${projectDir}/assets/samplesheet_test.csv"
    datadir        = "${projectDir}/../data/"
    genome_fasta   = "${projectDir}/../data/genome/GRCh38_subset.fa"
    genome_gtf     = "${projectDir}/../data/genome/GRCh38_subset.gtf"
    star_index_dir = "${projectDir}/../data/star_index"
    outdir         = "${projectDir}/../results"
}

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.executor  = 'local'

        process {
            cpus   = 2
            memory = '4.GB'
            time   = '4.h'

            withName: '.*STAR_INDEX.*' {
                cpus     = 4
                memory   = '10.GB'
                time     = '8.h'
                maxForks = 1
            }
            withName: '.*STAR_ALIGN.*' {
                cpus     = 2
                memory   = '4.GB'
                ext.args = '--limitBAMsortRAM 1000000000'
            }
            withName: '.*SAMTOOLS.*' {
                cpus   = 4
                memory = '8.GB'
                time   = '2.h'
            }
            withName: '.*PICARD_MARKDUP.*' {
                cpus   = 2
                memory = '8.GB'
                time   = '2.h'
            }
        }
    }
}
