/*
 * nextflow.config
 * Configuración del pipeline RNA-seq GSE52778
 */

params {
    samplesheet    = "${projectDir}/assets/samplesheet.csv"
    datadir        = "${projectDir}/../data/"
    genome_fasta   = "${projectDir}/../data/genome/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    genome_gtf     = "${projectDir}/../data/genome/Homo_sapiens.GRCh38.111.gtf"
    star_index_dir = "${projectDir}/../data/star_index"
    outdir         = "${projectDir}/../results"
}

profiles {
    
    // Entorno 1: Testeo en tu máquina virtual (Docker)
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.executor  = 'local'
        
        process {
            cpus   = 2
            memory = '4.GB'
            time   = '4.h'
            
            withName: '.*STAR_INDEX.*' {
                cpus     = 4
                memory   = '13.GB'
                time     = '8.h'
                maxForks = 1 
            }
            withName: '.*STAR_ALIGN.*' {
                cpus     = 2
                memory   = '4.GB'
                // Inyección del límite de RAM estrictamente para sobrevivir en local
                ext.args = '--limitBAMsortRAM 1000000000' 
            }
        }
    }

    // Entorno 2: Despliegue masivo en HPC
    picasso {
        singularity.enabled    = true
        singularity.autoMounts = true
        process.executor       = 'slurm'
        
        process {
            cpus   = 4
            memory = '16.GB'
            
            withName: '.*STAR_INDEX.*' {
                cpus   = 12
                memory = '64.GB'
            }
            withName: '.*STAR_ALIGN.*' {
                cpus   = 12
                memory = '45.GB'
                // Sin límites de RAM para ordenar el BAM
            }
        }
    }
}